
body{
    /* background: #BDBDBD; */
    overflow-x: hidden !important;
}

/* este estilo esta para cambiar de color del span que esta dentro del h1 */
.text-first-heading span{
    font-weight: normal;
    color: gray;
}
/* este estilo esta para centrar el texto de las tarjetas */
.text-first-heading p, .card p{
    text-align: justify;
    padding-right: 10%;
}
/* quita el borde de las cards y asi poder reemplazarlo con los hr */
.custom-border{
    border: none;
}
/* Estilo para centrar el hr */
hr{
    width: 70%;
    margin: 0 auto;
}

.container-first-heading {
    max-width: 800px;
    margin: 0 auto;
}

.content-first-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-first-heading {
    flex: 1;
}

.image-first-heading img {
    margin-left: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: right;
}

.container-fluid {
    padding: 0;
}
.hero-image {
  height: 600px;
}
.hero-contain {
    background-image: url("https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.hero-image .hero-contain h1 {
  font-size:100px;
}
.hero-image .hero-contain p {
  font-size:50px;
}
