<!-- your html code here -->
<hr>
<div class="container-first-heading p-4">
    <div class="content-first-heading p-3">
        <div class="image-first-heading pe-4">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/danielbayona-exercise-collaborative-html-website/daniel-bayona-services-portfolio/website/assets/img/2.jpg" alt="Image">
        </div>
      <div class="text-first-heading">
        <h1>
            <strong>The Secon Heading</strong> <span> Is Pretty Cool Too</span>  
        </h1>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
  </div>
<hr>